In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot

In [2]:
df = pd.read_csv("D:/소셜네트워크과학/Drug_Coprescription_Network_Analysis/data/prescription_with_ad_2021.csv")
df.head()

,기준년도,가입자일련번호,처방내역일련번호,일련번호,성별코드,연령대코드(5세단위),시도코드,요양개시일자,약품일반성분명코드,1회 투약량,1일투약량,총투여일수,단가,금액,데이터 공개일자,ATC코드
0,2021,908807,640330,1,2,13,41,2021-06-28,621901ACR,1.0,1,3,584.0,1752,2022-08-11,A02BC06
1,2021,104703,944513,1,2,13,41,2021-02-25,111501ATB,1.0,1,60,611.0,36660,2022-08-11,C10AA05
2,2021,710952,1081625,1,2,13,41,2021-10-02,415601ATB,1.0,1,3,4140.0,12420,2022-08-11,N02CC03
3,2021,856296,1707917,1,2,13,41,2021-09-28,495501ACE,1.0,1,3,363.0,1089,2022-08-11,N06AX21
4,2021,908807,2043127,1,2,13,41,2021-06-26,111001ATE,1.0,1,3,77.0,231,2022-08-11,B01AC06

In [3]:
df.shape

(1122916, 16)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1122916 entries, 0 to 1122915
Data columns (total 16 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   기준년도         1122916 non-null  int64
 1   가입자일련번호      1122916 non-null  int64
 2   처방내역일련번호     1122916 non-null  int64
 3   일련번호         1122916 non-null  int64
 4   성별코드         1122916 non-null  int64
 5   연령대코드(5세단위)  1122916 non-null  int64
 6   시도코드         1122916 non-null  int64
 7   요양개시일자       1122916 non-null  object
 8   약품일반성분명코드    1122916 non-null  object
 9   1회 투약량       1122916 non-null  float64
 10  1일투약량        1122916 non-null  int64
 11  총투여일수        1122916 non-null  int64
 12  단가           1122916 non-null  float64
 13  금액           1122916 non-null  int64
 14  데이터 공개일자     1122916 non-null  object
 15  ATC코드        1122916 non-null  object
dtypes: float64(2), int64(10), object(4)
memory usage: 137.1+ MB

In [22]:
df_40 = df[(df['연령대코드(5세단위)']==9) | (df['연령대코드(5세단위)']==10)]
df_40.head()

,기준년도,가입자일련번호,처방내역일련번호,일련번호,성별코드,연령대코드(5세단위),시도코드,요양개시일자,약품일반성분명코드,1회 투약량,1일투약량,총투여일수,단가,금액,데이터 공개일자,ATC코드
741,2021,629412,1054818,1,2,9,41,2021-04-21,149204ATB,1.0,1,21,110.0,2310,2022-08-11,N06AA12
747,2021,562372,1655047,1,2,10,41,2021-03-12,149204ATB,1.0,1,21,110.0,2310,2022-08-11,N06AA12
755,2021,562372,2393808,1,2,10,41,2021-05-21,149204ATB,1.0,1,21,110.0,2310,2022-08-11,N06AA12
757,2021,629412,2482029,1,2,9,41,2021-10-14,149204ATB,1.0,1,21,110.0,2310,2022-08-11,N06AA12
761,2021,562372,2726895,1,2,10,41,2021-08-24,149204ATB,1.0,1,21,110.0,2310,2022-08-11,N06AA12

In [23]:
df_40.shape

(101563, 16)

In [24]:
df_40["연령대코드(5세단위)"].unique()

array([ 9, 10])

In [25]:
# 항우울제 매핑 데이터를 불러옵니다.
ad_mapping = pd.read_csv('data/antidepressant_mapping_v2.csv', encoding='utf-8')
ATC_codes = ad_mapping['ATC_code'].unique()
ATC_codes

array(['N06AA09', 'N06AA04', 'N06AB03', 'N06AA02', 'N06AX11', 'N06AA10',
       'N06AB05', 'N06AB06', 'N06AX14', 'N06AX05', 'N06AX16', 'N06AX17',
       'N06AX12', 'N06AB10', 'N06AX21', 'N06AX22', 'N06AX23', 'N06AX26',
       'N06AX25', 'N06AX', 'N06AA12', 'N06AA17', 'N06AB08', 'N06AG02',
       'N06AB04'], dtype=object)

In [29]:
df_filtered = df_40[df_40['ATC코드'].isin(ATC_codes)]
prescription_patients = df_filtered['가입자일련번호'].unique()
prescription_patients

array([629412, 562372, 838963, ..., 771020, 383870, 108445])

In [32]:
# 항우울제 처방받은 40대 환자 데이터프레임 생성(N 제외)
df_anti_prescribed_all= df_40[df_40['가입자일련번호'].isin(prescription_patients)]
df_N = df_40[df_40['ATC코드'].str.startswith('N')]
df_anti_prescribed = df_anti_prescribed_all[~df_anti_prescribed_all['ATC코드'].isin(df_N['ATC코드'])]
df_anti_prescribed

,기준년도,가입자일련번호,처방내역일련번호,일련번호,성별코드,연령대코드(5세단위),시도코드,요양개시일자,약품일반성분명코드,1회 투약량,1일투약량,총투여일수,단가,금액,데이터 공개일자,ATC코드
798,2021,608560,3439519,1,1,9,41,2021-08-09,197631COM,1.0,1,1,1320.0,1320,2022-08-11,D06AX09
893,2021,710739,1594250,1,2,10,41,2021-12-13,675801ATB,1.0,1,14,1300.0,18200,2022-08-11,A02BC09
897,2021,578794,3781803,1,2,10,41,2021-09-09,675801ATB,1.0,1,14,1300.0,18200,2022-08-11,A02BC09
931,2021,897651,901273,1,2,10,41,2021-08-22,183601ATB,1.0,1,30,35.0,1050,2022-08-11,H03AA01
940,2021,897651,2064286,1,2,10,41,2021-10-06,183601ATB,1.0,1,30,35.0,1050,2022-08-11,H03AA01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1122724,2021,720179,11346602,4,2,10,41,2021-07-24,246701ATB,2.0,3,3,1369.0,24642,2022-08-11,J05AB11
1122731,2021,141604,11978335,1,2,10,41,2021-02-20,116201ATB,2.0,2,21,321.0,26964,2022-08-11,B01AC19
1122766,2021,559325,9610895,1,1,9,43,2021-08-21,113201ACH,2.0,1,30,127.0,7620,2022-08-11,A07FA01
1122800,2021,275793,11707554,4,2,10,45,2021-01-23,347701ATB,0.5,2,7,521.0,3647,2022-08-11,M01AH01
1122912,2021,543280,10970109,4,2,10,41,2021-02-14,495401ACH,2.0,1,28,276.0,15456,2022-08-11,C05CX

In [37]:
# ATC코드 기준으로 가장 많이 처방받은 상위 100개만 추출하기
atc_code_top_100 = df_anti_prescribed['ATC코드'].value_counts().head(100).index.tolist()
atc_code_top_100

['C07AA05',
 'A03FA09',
 'A02BX14',
 'M03BX09',
 'A02X',
 'M01AB16',
 'M01AE',
 'A02BC05',
 'A03AA05',
 'A02BC04',
 'A02BA03',
 'A03FA07',
 'A02AA04',
 'A02BA08',
 'A16AX',
 'A02AD03',
 'M01AE02',
 'A03FA',
 'M01AH01',
 'A03AC05',
 'A02BC09',
 'C10AA05',
 'M03BX',
 'A04AD',
 'M01AE52',
 'H02AB04',
 'M01AX',
 'M01AE14',
 'A03AB06',
 'A16AX01',
 'B01AC',
 'H02AB06',
 'A03AX58',
 'A02BA04',
 'A10BA02',
 'C05CX',
 'B03BA05',
 'C10AA07',
 'R06AX',
 'A02BX13',
 'A05AA02',
 'C04AF01',
 'B01AC28',
 'C10BA06',
 'A02BC02',
 'B01AC06',
 'C10AX06',
 'M01AC06',
 'A02BC',
 'A02BA01',
 'B03AA07',
 'A02BC03',
 'A12AX',
 'A10BB12',
 'R06AE09',
 'C08CA01',
 'C03AA03',
 'M03BX01',
 'B03BB01',
 'A05BA',
 'A07FA01',
 'B01AC04',
 'C09DB04',
 'G04CA02',
 'J05AB09',
 'R05FA02',
 'A02AA02',
 'A02BX',
 'R03DC03',
 'M01AE01',
 'G04BD12',
 'C09CA01',
 'C09DB01',
 'A03AX12',
 'R05CB15',
 'M03BX02',
 'A02BC01',
 'A11DA01',
 'C10AB05',
 'C10AA08',
 'A02BC06',
 'A06AC08',
 'B01AC23',
 'A03AX04',
 'M09AB03',
 'R06AX19',
 'A03FA01',
 'J01DC04',
 'C07AA12',
 'H03AA01',
 'C10BA05',
 'A06AD11',
 'C07AG02',
 'M04AA03',
 'M09AB',
 'R06AX24',
 'J01CR02',
 'C03CA01',
 'A05AA',
 'A02BA06']

In [38]:
df_anti_prescribed_top_100 = df_anti_prescribed[df_anti_prescribed['ATC코드'].isin(atc_code_top_100)]
df_anti_prescribed_top_100

,기준년도,가입자일련번호,처방내역일련번호,일련번호,성별코드,연령대코드(5세단위),시도코드,요양개시일자,약품일반성분명코드,1회 투약량,1일투약량,총투여일수,단가,금액,데이터 공개일자,ATC코드
893,2021,710739,1594250,1,2,10,41,2021-12-13,675801ATB,1.0,1,14,1300.0,18200,2022-08-11,A02BC09
897,2021,578794,3781803,1,2,10,41,2021-09-09,675801ATB,1.0,1,14,1300.0,18200,2022-08-11,A02BC09
931,2021,897651,901273,1,2,10,41,2021-08-22,183601ATB,1.0,1,30,35.0,1050,2022-08-11,H03AA01
940,2021,897651,2064286,1,2,10,41,2021-10-06,183601ATB,1.0,1,30,35.0,1050,2022-08-11,H03AA01
969,2021,937487,2050571,1,2,10,41,2021-12-03,463601ATB,1.0,1,3,210.0,630,2022-08-11,R06AE09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1122623,2021,275793,10297236,4,2,10,45,2021-06-12,347701ATB,0.5,2,7,521.0,3647,2022-08-11,M01AH01
1122682,2021,543280,9218407,4,2,10,41,2021-01-09,495401ACH,2.0,1,28,276.0,15456,2022-08-11,C05CX
1122766,2021,559325,9610895,1,1,9,43,2021-08-21,113201ACH,2.0,1,30,127.0,7620,2022-08-11,A07FA01
1122800,2021,275793,11707554,4,2,10,45,2021-01-23,347701ATB,0.5,2,7,521.0,3647,2022-08-11,M01AH01
1122912,2021,543280,10970109,4,2,10,41,2021-02-14,495401ACH,2.0,1,28,276.0,15456,2022-08-11,C05CX